<%= render 'layouts/head' %>

<div id="full-width" class="body">
    <%= render 'layouts/main_nav' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
</div> <!-- /#full-width .body -->

<%= render 'layouts/foot' %>