<%= render 'layouts/head' %>

<div class="body full-width">
    <%= render 'layouts/main_nav' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
</div> <!-- /#full-width .body -->

<%= render 'layouts/foot' %>